<h1 id="title">Welcome to Ember</h1>

<button {{action "action1"}}>Action 1 in controller</button>
<br>

<button {{action "action2"}}>Action 2 in controller and route</button>
<br>

<button {{action "action3" "Hello world!"}}>Action 3 in controller</button>
<br>

<button {{action "enter"}}>Action enter in route</button>

{{outlet}}