{{#bs-navbar backgroundColor="info" type="dark" position="sticky-top" as |navbar|}}
    <div class="navbar-header">
        {{navbar.toggle}}
        <a class="navbar-brand" href="/">My New Blog</a>
    </div>
    
    {{#navbar.content}}
        {{#navbar.nav class="mr-auto" as |nav|}}
            {{#if session.isAuthenticated}}
                {{#nav.item}}
                    {{#nav.link-to "new"}}Add New Post{{/nav.link-to}}
                {{/nav.item}}
            {{/if}}
        {{/navbar.nav}}
        
        {{#navbar.nav as |nav|}}
            {{#unless session.isAuthenticated}}
                <li>
                    <a href="#" {{action "login"}} class="authenticationLink">Login</a>
                </li>

            {{else}}
                <li>
                    <a href="#" {{action "logout"}} class="authenticationLink">Logout</a>
                </li>

            {{/unless}}
        {{/navbar.nav}}
    {{/navbar.content}}
{{/bs-navbar}}

{{outlet}}