<h1>Books</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">
                Author
                <br>
                <small class="not-bold">(Click to edit)</small>
            </th>
            <th scope="col">
                Title
                <br>
                <small class="not-bold">(Click to edit)</small>
            </th>
            <th scope="col" class="vtop">Release Year</th>
            <th scope="col">
                Library
                <br>
                <small class="not-bold">(Click to edit)</small>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |book|}}
            <tr>
                <td>
                    {{#if book.isEditingAuthor}}
                        {{author-select book=book authors=authors default=book.author action="saveAuthor"}}

                        <button class="btn btn-danger" {{action "cancelEditAuthor" book}}>Cancel</button>

                    {{else}}
                        <span {{action "editAuthor" book}}>{{book.author.name}}</span>
                    
                    {{/if}}
                </td>

                <td>
                    {{#if book.isEditingTitle}}
                        <form {{action "saveTitle" book on="submit"}}>
                            <div class="input-group">
                                {{input value=book.title class="form-control"}}

                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success" disabled={{book.isTitleNotValid}}>Save</button>

                                    <button class="btn btn-danger" {{action "cancelEditTitle" book}}>Cancel</button>
                                </span>
                            </div>
                        </form>

                    {{else}}
                        <span {{action "editTitle" book}}>{{book.title}}</span>

                    {{/if}}
                </td>
                
                <td>{{display-year book.releaseYear}}</td>
                
                <td>
                    {{#if book.isEditingLibrary}}
                        {{library-select book=book libraries=libraries default=book.library action="saveLibrary"}}

                        <button class="btn btn-danger" {{action "cancelEditLibrary" book}}>Cancel</button>

                    {{else}}
                        <span {{action "editLibrary" book}}>{{book.library.name}}</span>

                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>