<h1>Books</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">
                Author
                <br>
                <small class="not-bold">(Click to edit)</small>
            </th>
            <th scope="col">
                Title
                <br>
                <small class="not-bold">(Click to edit)</small>
            </th>
            <th scope="col" class="vtop">Release Year</th>
            <th scope="col">
                Library
                <br>
                <small class="not-bold">(Click to edit)</small>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |book|}}
            <tr>
                <td>
                    {{#if book.isEditingAuthor}}
                        {{author-select book=book authors=authors default=book.author action="saveAuthor"}}

                        <button class="btn btn-danger" {{action "cancelEditAuthor" book}}>Cancel</button>

                    {{else}}
                        <span {{action "editAuthor" book}}>{{book.author.name}}</span>
                    
                    {{/if}}
                </td>
                <td>{{book.title}}</td>
                <td>{{display-year book.releaseYear}}</td>
                <td>{{book.library.name}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>