<form {{action "save" on="submit"}}>
    <h4>{{errorMessage}}</h4>
    
    <p>
        <label>
            First name:
            {{input value=model.firstName}}
        </label>
    </p>

    <p>
        <label>
            Last name:
            {{input value=model.lastName}}
        </label>
    </p>

    <p>
        <label>
            Email:
            {{input value=model.email}}
        </label>
    </p>

    <p>
        <label>
            Twitter:
            {{input value=model.twitter}}
        </label>
    </p>

    <input type="submit" value="Save"/>
    <button {{action "cancel"}}>Cancel</button>
</form>